/* Fonts */
:root {
    --default-font: "Roboto",  system-ui;
    --heading-font: "Raleway",  sans-serif;
    --nav-font: "Poppins",  sans-serif;
}
body {
    font-family: var(--default-font);
}
nav {
    font-family: var(--nav-font);
}
h1, h2, h3, h4 {
    font-family: var(--heading-font);
}
/* start heading  */
.container .heading span {
    color: color-mix(in srgb, #444444, transparent 50%);
    position: relative;
    font-size: 15px;
    letter-spacing: 2px;
    }
.container .heading span::after {
        content: "";
        position: absolute;
        left: 110%;
        top: 50%;
        transform: translateY(-50%);
        height: 2px;
        width: 6.25rem;
        background-color: #EF6603;
    }
.container .heading {
        margin-bottom: 50px;
    }
/* end heading  */
/* start scroll to top  */
.top {
    position: fixed;
    bottom: -45px;
    right: 15px;
    background-color: #EF6603;
    color: white;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 666;
    transition: 0.3s ease-in-out;
    opacity: 0;
}
.top:hover {
    background-color:color-mix(in srgb, #EF6603 90%, white 15%) ;
}
.top i {
    font-size: 15px;
}
.top.show {
    bottom: 10px;
    opacity: 1;
}
/* end scroll to top  */
/* start navBar */
nav {
    z-index: 9999;
    transition: 0.4s ease-in-out;
}
nav.scrollbg {
    background-color: rgba(42, 44, 57, 0.9);
}
nav .nav-item a:hover,
nav .nav-item a.active-link {
    background-color: #EF6603;
}
nav .nav-item a {
    font-size: .875rem;
}
nav .nav-item  .dropdown-item {
    transition: 0.3s ease-in-out;
}
nav .nav-item  .dropdown-item:hover {
    color: #EF6603 ;
}
nav .navbar-toggler-icon {
    background-image: url(../image/toggle-column-svgrepo-com.svg);
}
nav .navbar-toggler {
    border: none;
}
nav .navbar-toggler:focus {
    box-shadow: none;
}
@media (max-width: 991px) {
    nav .navbar-collapse {
        background-color: white;
    }
    nav .nav-item a:hover {
        color: #EF6603 !important;
        background-color: transparent;
    }
    nav .nav-item a.active-link {
        color: #EF6603 !important;
        background-color: transparent;
    }
    nav .nav-item a {
        color: #060606 !important;
    }
    nav .nav-item  .dropdown-menu {
        background-color: #f8f8f8 !important;
        margin-inline: .625rem;
    }
    nav .navbar-nav {
        min-height: calc(100vh - 100px);
    }
    nav .navbar-collapse {
        position: absolute;
        top: 80px;
        left: 20px;
        right: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    }
    nav .nav-item a {
        font-size: 1rem;
        font-weight: 500;
    }
}
@media (max-width: 576px) {
    nav .navbar-collapse  {
        left: 10px;
        right: 10px;
    }
}
/* end navBar */
/* start hero-page  */
#hero  {
    background-color: #393B47;
    position: relative;
    overflow: hidden;
    padding-top: 4.375rem;
}
#hero .carousel-inner {
    min-height: 85vh;
}
#hero .carousel-item .item {
    min-height: 85vh;
}
#hero .carousel-item .item .btn {
    border-color: #EF6603;
    padding-inline: 2rem;
    transition: 0.4s ease-in-out ;
}
#hero .carousel-item .item .btn:hover {
    background-color: #EF6603 !important; 
}
#hero .carousel-inner .carousel-item .item h1 {
    font-size: 3rem ;
}
#hero .carousel-inner .carousel-item p {
    width: 60%;
}
#hero .carousel-control-prev {
    justify-content: flex-start;
}
#hero .carousel-control-next {
    justify-content: flex-end;
}
#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
    background-size: 200% 200%;
}
@media (max-width: 768px) {
    #hero .carousel-inner .carousel-item .item h1 {
        font-size: 2.5rem;
    }
    #hero .carousel-inner .carousel-item p {
        width: 80% ;
    }
    #hero .carousel-control-next-icon,
    #hero .carousel-control-prev-icon {
        background-size: 100% 100%;
    }
}
@media (max-width: 576px) {
    #hero .carousel-inner .carousel-item .item h1 {
        font-size: 1.75rem;
    }
}
/* svg waves  */
#hero .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-image: url(../image/wave.png);
    background-size: 1000px 75px;
}
#hero .wave.wave1 {
    animation: wave1 15s linear infinite;
    opacity: 1;
    animation-delay: 0s;
    bottom: -10px;
}
#hero .wave.wave2 {
    animation: wave2 10s linear infinite;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 0px;
}
#hero .wave.wave3 {
    animation: wave3 5s linear infinite;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 5px;
}
@keyframes wave1 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes wave2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
@keyframes wave3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
/* end hero-page  */
/* strat about section  */
#about {
    padding-block: 3.75rem;
    scroll-margin-top: 82px;
}
#about .about li i {
    color: #EF6603;
}
#about .about .caption-button button {
    padding-inline: 2rem;
    background-color: #EF6603;
}
#about .about .caption-button button i {
    transition: 0.3s ease-in;
}
#about .about .caption-button button:hover {
    background-color: color-mix(in srgb, #EF6603, transparent 20%);
}
#about .about .caption-button button:hover i {
    transform: translateX(5px);
}
#about .boxs-container .box {
    border: 1px solid #eee;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#about .boxs-container .box i {
    transition: 0.3s ease-in-out;
}
#about .boxs-container .box:not(.box.box-active):hover {
    border-color: #EF6603;
}
#about .boxs-container .box:not(.box.box-active):hover i {
    color: #EF6603;
}
#about .boxs-container .box.box-active {
    background-color: #EF6603;
    color: white;
}
#about .boxs-container .box p {
    font-size: 1.125rem ;
}
#about .box-containt .caption i {
    color: #EF6603;
}

#about .box-containt-two,
#about .box-containt-three,
.box-containt-four {
    display: none !important;
}
@media (max-width: 992px) {
    #about .boxs-container .box p {
        display: none;
    }
    #about .boxs-container .box {
        padding-right: 3rem !important;
        padding-left:  3rem !important;
    }
}
@media (max-width: 768px) {
    #about .boxs-container .box {
        padding-right: 2rem !important;
        padding-left:  2rem !important;
    }
}
@media (max-width: 576px) {
    #about .boxs-container .box {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
    #about .boxs-container .box i  {
        font-size: 1.375rem !important;
    }
}
/* end about section  */
/* start call section */
#call {
    padding-block: 3.75rem;
    background-color: #393B47;
}
#call .container button {
    padding-inline: 2.5rem;
    background-color: #EF6603;
}
#call .container button:hover {
    background-color: color-mix(in srgb, #EF6603 90%, white 15%);
}
/* end call section */
/* start services section  */
#services {
    padding-block: 60px;
    scroll-margin-top: 82px;
}
#services .box .servs-caption {
    padding: 3.75rem 1.25rem 3.125rem 4.375rem ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#services .box .servs-caption:hover {
    transform: translateY(-8px);
}
#services .box .servs-caption:hover h3 {
    color: #EF6603;
}
#services .box .servs-caption h3 {
    font-size: 1.25rem;
    font-weight:600;
    margin-bottom: .9375rem;
    transition: 0.3s ease-in-out;
}
#services .box .servs-caption p {
    font-size: .875rem;
    line-height: 1.5rem;
} 
#services .box .servs-caption i {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    font-size: 3.75rem;
}
/* end services section  */
/* start portfolio section  */
#portfolio {
    padding-block: 3.75rem;
    scroll-margin-top: 82px;
}
#portfolio .buttons li button{
    transition: 0.3s ease-in-out;
}
#portfolio .buttons li button.active-btn,
#portfolio .buttons li button:hover {
    background-color: #EF6603;
    color: white;
}
#portfolio .image-container {
    width: 100%;
    column-count: 3;
    column-gap: 1.25rem;
}
#portfolio .image-container .box {
    width: 100%;
    margin-bottom: 1.25rem;
    break-inside: avoid;
    overflow: hidden;
}
/* #portfolio .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 10px;
    grid-gap: 10px;
}
#portfolio .image-container .box {
    grid-row: span 20;
    overflow: hidden;
} */
/* #portfolio .image-container {
    height: 1256px;
}
#portfolio .image-container .box {
    width: calc((100% - 32px) / 3);
    overflow: hidden;
}
@media (max-width: 1400px) {
    #portfolio .image-container {
        height: 1055px;
    }
}
@media (max-width: 1200px) {
    #portfolio .image-container {
        height: 900px;
    }
}
@media (max-width: 992px) {
    #portfolio .image-container .box {
        width: calc((100% - 16px) / 2);
    }
    #portfolio .image-container {
        height: 1450px;
    }
}
@media (max-width: 768px) {
    #portfolio .image-container .box {
        width: 100%; 
    }
    #portfolio .image-container {
        height: auto;
    }
} */
#portfolio .image-container .box img {
    width: 100%;
    display: block;
} 
#portfolio .image-container .box.hide {
    display: none;
}
#portfolio .image-container .box  .box-info  {
    transition: 0.4s ease-in-out;
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
#portfolio .image-container .box:hover .box-info{
    bottom: 0;
    opacity: 1;
}
#portfolio .image-container .box  .box-info i,
#portfolio .image-container .box  .box-info p {
    color: color-mix(in srgb, #444444, transparent 30%)
;
}
#portfolio .image-container .box  .box-info p {
    font-size: .875rem;
}
#portfolio .image-container .box  .box-info i {
    font-size: 1.375rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
#portfolio .image-container .box  .box-info i:hover {
    color: #EF6603;
}
@media (max-width: 992px) {
    #portfolio .image-container {
        column-count: 2;
    }
}
@media (max-width: 768px) {
    #portfolio .image-container {
        column-count: 1;
    }
}
/* end portfolio section  */
/* start testimonial section  */
#testimonials {
    padding-block: 3.75rem;
}
#testimonials .card {
    border-color: #fff;
}
#testimonials .card .testo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem 1.5rem;
    margin: 30px 15px 70px;
}
#testimonials .card .img-holder img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#testimonials .card  .testo > span {
    font-size: 14px;
    color: color-mix(in srgb,  #444444, transparent 30%);
}
#testimonials .card  .testo ul li {
    color: #ffc107;
    margin-bottom: 15px;
}
#testimonials .card  .testo p {
    font-style: italic;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 10px;
}
#testimonials .card  .testo p i {
    color: color-mix(in srgb,  #EF6603, transparent 40%);
    font-size: 24px;
    line-height: 0;
    display: inline-block;
    position: relative;
    font-style: italic;
}
#testimonials .card  .testo p i:first-child {
    left: -5px;
    top: -5px;
}
#testimonials .card  .testo p i:last-child {
    right: -5px;
    bottom: -5px;
}

.swiper-pagination-bullet{
    background-color: #cccaca;
    margin-top: 30px;
    width: 12px;
    height: 12px;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background-color: #EF6603;
}
/* end testimonial section  */
/* start pricing section  */
#price {
    padding-block: 3.75rem;
}
#price .price-item {
    background-color: #F5F5F5;
    overflow: hidden;
} 
#price .price-item .active {
    background-color: #EF6603;
    color: white;
}
#price .price-item .special {
    background-color: #EF6603;
    color: white;
    display: block;
    position: absolute;
    right: -68px;
    top: 18px;
    width: 12.5rem;
    padding-block: .125rem;
    font-size: .875rem;
    transform: rotate(45deg);
}
#price .price-info {
    margin-inline: .0625rem;
}
#price .price-info h4::before {
    content: "$";
    position: relative;
    top: -15px;
    left: -5px;
    font-size: 1.25rem;
}
#price .price-info li {
    font-size: .9375rem;
}
#price .price-item .button a {
    background-color: #EF6603;
    transition: 0.4s ease-in-out;
}
#price .price-item .button a:hover{
    background-color: color-mix(in srgb, #EF6603, transparent 20%);
}
/* end pricing section  */
/* start FAQ section  */
#faq {
    padding-block: 3.75rem;
}
#faq .accordion-button {
    z-index: 2;
}
#faq .accordion-button:not(.collapsed) {
    background-color: #EF6603;
    color: white;
}
#faq .accordion-button:not(.collapsed)::after {
    background-image: url(../image/down-arrow-backup-2-svgrepo-com.svg);
}
#faq .accordion-button:focus {
    box-shadow: none;
}
@media (max-width: 576px) {
    #faq .heading span::after {
        display: none;
    }
}
/* end FAQ section  */
/* start team section  */
#team {
    padding-block: 3.75rem;
    scroll-margin-top: 82px;
}
#team .card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#team .card .img-holder img {
    width: 100%;
}
#team .card .img-holder ul {
    position: absolute;
    bottom: 1.875rem;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
#team .card .img-holder:hover ul {
    bottom: .9375rem;
    opacity: 1;
}
#team .card .img-holder li {
    background-color: rgba(255, 255, 255, 0.75);
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .25rem;
    transition: 0.3s ease-in-out;
}
#team .card .img-holder li:hover {
    background-color: #EF6603;
}
#team .card .img-holder li a {
    color: color-mix(in srgb, #444444, transparent 40%);
    font-size: 1.25rem;
    transition: 0.3s ease-in-out;
}
#team .card .img-holder li:hover a {
    color: white;
}
#team .card .caption p {
    font-size: .8125rem;
    color: color-mix(in srgb, #444444, transparent 40%) ;
}
/* end team section  */
/* start blog section  */
#blog {
    padding-block: 60px;
    scroll-margin-top: 82px;
}
#blog .blog-item .img-holder img {
    width: 100%;
    display: block;
}
#blog .blog-item .blog-info a {
    color: #2a2c39 ;
    transition: 0.3s ease-in-out;
}
#blog .blog-item .blog-info a:hover {
    color: #EF6603;
}
#blog .blog-item .person img {
    width: 3.125rem;
    border-radius: 50%;
}
#blog .blog-item p {
    color: color-mix(in srgb, #444444, transparent 40%);
}
#blog .blog-item p:last-child {
    font-size: .875rem;
}
/* end blog section  */
/* start contact section */
#contact {
    padding-block: 3.75rem;
    scroll-margin-top: 82px;
}
#contact .info  i {
    width: 3.125rem;
    height: 3.125rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dashed #EF6603;
    border-radius: 50%;
    color: #EF6603;
}
#contact .info .adress ,
#contact .info .call ,
#contact .info .email  {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#contact .info .adress p,
#contact .info .call a,
#contact .info .email a {
    font-size: .875rem;
    color: color-mix(in srgb, #444444, transparent 10%);
    text-decoration: none;
}
#contact form {
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);
}
#contact form textarea {
    height: 6.25rem;
}
#contact form button {
    background-color: #EF6603;
    color: white;
    transition: 0.3s ease-in-out;
}
#contact form button:hover {
    background-color: color-mix(in srgb, #EF6603, transparent 20%) ;
}
#contact form input:focus,
#contact form textarea:focus {
    box-shadow: none;
    border: 1px solid #EF6603 ;
}
#contact form input::placeholder,
#contact form textarea::placeholder{
    color: color-mix(in srgb, #444444, transparent 40%) ;
    font-size: .9375rem;
}
/* end contact section */
/* start footer  */
#footer {
    background-color: #2A2C39;
    padding-block: 1.875rem;
}
#footer .container > p {
    font-size: .9375rem;
    margin-bottom: 1.875rem;
}
#footer .container ul {
    margin-bottom: 1.875rem;
}
#footer .container ul li {
    width: 2.25rem;
    height: 2.25rem;
    background-color: #EF6603;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
#footer .container ul li:hover {
    background-color: color-mix(in srgb, #EF6603, transparent 20%);
}
#footer .container ul li a {
    color: white;
    text-decoration: none;
}
#footer .container .copy-right {
    padding-top: 1.875rem;
    border-top: 1px solid #393B47;
}
#footer .container .copy-right p:nth-child(1) {
    font-size: .9375rem;
}
#footer .container .copy-right p:nth-child(1) span {
    font-size: .875rem;
    font-weight: 700;
}
#footer .container .copy-right p:nth-child(2) {
    font-size: .875rem;
}
#footer .container .copy-right p:nth-child(2) span {
    font-size: .8125rem;
    color: #EF6603;
    cursor: pointer;
}
/* end footer  */